body {
  font-family: "Inter", sans-serif;
}

.navbar {
  background-color: #ffffff;
}

/* Section Home */
.backgroundHome {
  background-color: #e94f37;
}

.options a:hover {
  font-size: 30px;
  transition: all 1s;
}

/* Section Projects */
.backgroundProjects {
  background-color: #ffffff;
}

/* Section Knowledge */
.backgroundKnowledge {
  background-color: #e94f37;
}

/* Scroll */
#scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  background-color: #ffffff;
}

#scroll-to-top-btn:hover {
  animation: rotate 1s linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
